
CardSlide/CardSlide.xcodeproj/project.xcworkspace/xcshareddata/CardSlide.xccheckout

CardSlide/CardSlide.xcodeproj/project.xcworkspace/xcuserdata/pradeepdanagoud.xcuserdatad/UserInterfaceState.xcuserstate

CardSlide/CardSlide.xcodeproj/xcuserdata/pradeepdanagoud.xcuserdatad/xcschemes/CardSlide.xcscheme

CardSlide/CardSlide.xcodeproj/xcuserdata/pradeepdanagoud.xcuserdatad/xcschemes/xcschememanagement.plist
